<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head.ejs', {page: "Dashboard"})%>
<body>
    <div class="container-fluid" id="tweetIndex">    
        <div class="row">
        <%- include('../partials/nav/_nav.ejs') %>
            <section class="col" id="tweetSection">
                <article>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Home</h5>
                            <img src="">
                            <form action="/tweets" method="POST" class="d-flex flex-column">
                                <article class="tweet">
                                    <div class="card mb-3">
                                        <div class="card-body d-flex flex-column">
                                          <img src="<%= tweet.image %>">
                                          <a href="/tweets/<%= tweet.id %>"><h5 class="card-title"><%= tweet.user.username %> <% tweet.date %></h5>
                                          <p class="card-text"><%= tweet.content%></p>
                                          </a>
                                          <a href="/comment" class="align-self-end"><button class="btn btn-light buttons fw-bold"><i class="far fa-comment"></i></button></a>
                                        </div>
                                      </div>
                                </article>
                            </form>
                        </div>
                    </div>
                </article>
                

           

            </section>
            <section class="col-3">
                    <div class="d-flex flex-column align-items-stretchbg-white">
                        <a href="/" class="d-flex align-items-center p-3 link-dark text-decoration-none border-bottom">
                        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-5 fw-semibold">List group</span>
                        </a>
                        <div class="list-group list-group-flush border-bottom scrollarea">
                        <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small>Wed</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">List group item heading</strong>
                            <small class="text-muted">Tues</small>
                            </div>
                            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                        </a>
                        </div>
                    </div>
                </section>
            </div>
      </div>
    
</body>
</html>